<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>感情手話認識アプリ</title>
    <link rel="stylesheet" href="static\styles.css">
    <link rel="icon" href="static\favicon.ico" type="image/x-icon">
</head>
<body>
    <div id="main-container">
        <!-- 左側にカメラ -->
        <div id="camera-container">
            <video id="video" autoplay playsinline></video>
        </div>

        <!-- 右側に判定結果 -->
        <div id="result-and-prediction">
            <div id="result">
                <h2>判定結果</h2>
                <p id="emotion">ここに感情が表示されます</p>
            </div>
        </div>
    </div>

    <script src="static\scripts.js"></script>
</body>
</html>
